
.matches-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.match-bg {
    background:rgba(34, 28, 28, 0.612);
    padding:.5rem 2rem;
    margin:7%;
}

.general-stats {
    display:grid;
    grid-template-columns:1fr .2fr 1fr;
}

.general-stats h2 {
    margin:0 2rem;
}

.match-info {
    width:100%;
}

.teams-presentation {
    display:flex;
    flex-direction: row;
}

.teams-presentation td {
    /* border:1px red solid; */
    display:flex;
    flex-direction: column;
    padding:1rem;
}

.team1{
    width:48%;
    align-items: flex-end;
}

.stats-middle {
    width:14%;
}

.team2 {
    width:48%;
    align-items: flex-start;
}


@media(max-width:1600px) {
    .matches-grid {
        grid-template-columns: 1fr 1fr;
        margin:4%;
    }
    .match-bg {
        margin:2%;
    }
}
@media(max-width:1200px) {
    .matches-grid {
        margin:0 auto;
        padding:0;
    }
}

@media(max-width:900px) {
    .matches-grid {
        grid-template-columns: 1fr;
        margin:0 auto;
        padding:0;
    }
}

