.NavBar {
    display:flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    justify-content: space-between;
}


.NavBar ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.NavBar li {
    padding: 0 1em;
}


.rest {
    color: white;
}

.NavBar a:hover {
    color: beige;
}


.sign-in {
    color:orange;
}

.active{
    border-radius:12%;
    padding:3px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 20px #e60073, 0 0 10px #e60073;
}

.site-title {
    display:flex;
    width:1%;
    background-size: 100%;
}

.site-title img {
    width:45px;
}

@media(max-width:620px) {
    .NavBar {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .NavBar ul {
        display:flex;
        flex-direction: column;
        padding-inline-start: 0;
    }
    .NavBar li {
        padding: 0;
        margin:0;
    }
}

@media(max-width:720px) {

}


@media(max-width:1200px) {
    
}

@media(max-width:1600px) {

}