.signin-bg {
    position: fixed;
    top:10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100vw;
    height: 100vh;
    border-radius: 20% 12% 40% 80%;  
    filter: blur(100px);
    background: radial-gradient(farthest-side at 60% 55%,rgb(51, 50, 156), rgba(255, 0, 0, 0.836), rgba(0, 217, 255, 0.849), rgba(255, 0, 191, 0.849));
    background-size: 300% 300%;
    animation: bg-animation 40s infinite;
    opacity: 0.22;
    z-index:-1;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position:right;
    }
    100% {
        background-position: left;
    }
}

.instructions {
    background:black;
    width:80%;
    border-radius: 10px;
}

.signin {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2em;
    background-image: radial-gradient();
}

.register {
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius:20px;
    border:1px purple solid;
    width:25%;
    background-color: rgba(40, 41, 44, 0.715);
    padding:.8em;
}


.hide {
    display:none;
}

.lmao {
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:.5em;
}

.lmao input {
    width:100%;
    height:2rem;
    border-radius:6px;
}

.lmao a {
    color:rgb(153, 230, 90);
}
.submit {
    width:78%;
    margin-top:9%;
}

@media (max-width:480px) {
 .signin {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0.5em;
}   
.register {
    padding:1em;
    width:90%;    
 }
}