.team-stand {
    opacity: 0%;
    background-color: rgba(1,1,1,.5);
    border-radius: 35px;
    padding:.2rem;
    margin:.6rem 2.5rem;
    display:flex;
    align-items: center;
    flex-direction: row; 
}

.team-stuff {
    margin-top:-.6rem;
    margin-left:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:5%;
}


.team-logo {
    margin-top:-20%;
    max-width: 50px;
    max-height: 50px;
}

.team-rest {
    margin:0 2rem;
}

.team-players {
    min-width:30%;
    display:flex;
    flex-direction: row;
}


.team-players h3 {
    width:33%;
    margin:1.5rem;
}


#standings-header {
    color:white;
}

.player-hover-window {
    box-shadow:  0 0 7px #e60000, 0 0 6px #e60073, 0 0 15px #ecb500, 0 0 2px #e60073, 0 0 1px #e60073;
    background-image: radial-gradient(rgba(221, 26, 26, 0.559),rgba(96, 26, 26, 0.4),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0.0));
    background-size:100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding:1rem;
    width:25%;
    height:40%;
    opacity:0%;
}

.lines {
    display:flex;
    flex-direction: row;
}

.line {
    width:50%;
    display:flex;
    flex-direction: column;
}

.player-hover-window span {
    display:flex;
    flex-direction: row;
    padding:1rem;
    width:50%;
}
